body {
    background-color: #2C3333;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* #logo {
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-family: 'Queasily', Queasily;
  }

  #logo:hover {
    color: rgb(141, 127, 127);
  } */

/* .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #FFFF00; */
  /* padding: 10px;
  } */