body {
    background-color: rgb(19, 17, 43);
  }
#logo {
    color: rgb(255, 255, 255);
  }

  #logo:hover {
    color: rgb(141, 127, 127);
  }

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid #FFFF00; */
  /* padding: 10px; */
  }